  <div class="row">

  <div class="col-sm-7" id="live-chat">
    <header class="clearfix">
    <a href="#" class="chat-close">x</a>
    <h4>rBot</h4>
    <span class="chat-message-counter">3</span>
  </header>
  <div class="chat">
    <div class="chat-history" id="chatHistory" data-url="<%= api_v1_answers_path(user_type: user.class.name, user_id: user.id) %>">
      <div class="chat-message clearfix">
        <img src="<%=image_url 'robot-design.png' %>" class="chatIcon"  alt="" width="32" height="32"/>
        <%= user.name %>, ¿Como te puedo ayudar?
      </div>

    </div>
    <div class="input">

        <input type="text" name="text" id="inputText" placeholder="Ask your bot!" style="width: 100%;margin-right: 0px; display: block;"/>

        <input type="hidden" name="text" id="context" value="" />

    </div>
  </div>
  <input id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</div>
<!--
<div id="clearLS">Clear LocalStorage UserID: <span id='userID'></span></div>
-->



<script>

  $("#clearLS").on("click", function(){
    localStorage.removeItem("userId");
    window.location.reload();
  });

  var inputText = $("#inputText");

  function uuidv4() { // lifted from: https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }


  function userID(){
    var id = localStorage.getItem("userId");

    if(id === null){
      id = uuidv4();
      localStorage.setItem("userId", id);
    }

    $('#userID').html(id);

    return id;
  }

  function submit(){

    var text = inputText.val();
    inputText.attr('disabled', true).addClass('inactive').val("").attr('placeholder', "loading..");

    var template = '<div class="chat-messageUser"><span>'+text+'</span><img src="<%=image_url 'user.png' %>" class="chatIconUser" /></div>'
    $("#chatHistory").append(template);

    var resContainer = $("<div></div>");
    resContainer.addClass("chat-message");
    resContainer.append('<img src="<%= image_url 'robot-design.png' %>" class="chatIcon" />');
    var restext = $("<span></span>");
    restext.html("...");
    resContainer.append(restext);
    $("#chatHistory").append(resContainer);

    var url = $('#chatHistory').attr("data-url");
    var at  = $('#authenticity_token').val();

    $.ajax({
      type: "POST",
      url: url,
      data: {
        "user_id": userID(),
        "text": text,
        "authenticity_token": at,
        "context": $('#context').val()
      },
      success: function(r){
        $("#chatHistory").animate({ scrollTop: $('#chatHistory').prop("scrollHeight")}, 300);
        restext.html(r.answer);
        $('#context').val(JSON.stringify(r.context))
      },
      error: function(r){
        restext.text(r.responseJSON.error);
      },
      complete: function(){
        inputText
          .removeAttr('disabled')
          .attr('placeholder', "Ask your bot!")
          .removeClass('inactive')
          .focus();
      }
    });

  }

  inputText.keyup(function(e){

    if (e.keyCode != 13){
      return true
    }

    submit();
  })

  $("#inputText").focus();
  userID();


</script>
