<%= render "shared/navbar" %>
<div class="container py-5 mt-5 ">
  <div class="row py-3 ">
  <div class="container text-center ">
    <a href="<%= catalog_path %>" class="btn btn-dark btn-xl rounded-pill mt-3">Añade tu oferta</a>
  </div>
  </div>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <% @projects.each do |project|%>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <%= image_tag('market.jpg', class: 'card-img-top')%>
          <div class="card-body">
            <p class="card-text"><%=project.name%></p>
            <p class="card-text"><%=project.description%></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              </div>
              <small class="text-muted">Disponible hasta: <%= project.expiration%></small>
            </div>
          </div>
        </div>
      </div>
      <%end%>


    </div>
  </div>
</div>
</div>
