<div class="causes-content">
   <div class="causes-thumb">
        <% social_images = ["social.png", "social1.jpg", "social2.jpg", "social3.jpg"] %>
        <div class="context-img">
          <%= image_tag(social_images.sample, class: 'card-img-top')%>
        </div>
        <a href="<%= project_path(project['id']) %>" class="donate-btn">Donate Now<i class="ti-plus"></i></a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="wow cssanimation fadeInLeft">25%</span></div>
        </div>
   </div>
    <div class="causes-details">
        <h4><%= project["name"] %></h4>
        <p class="d-inline-block"  ><%=project["description"].truncate(60, separator: " ") %></p>
        <div class="donation-box">
            <p><i class="ti-bar-chart"></i>Goal: $450000</p>
            <p><i class="ti-thumb-up"></i>Raised: $55000</p>
        </div>
        <a href="<%= project_path(project['id']) %>" class="read-more">Read More</a>
    </div>
</div>
