<!DOCTYPE html>
<html>
  <head>
    <title>Redeemy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice" style="position:absolute;"><%= notice %></p>
    <p class="alert" style="position:absolute;"><%= alert %></p>
    <div class="container py-5 mt-5 ">
      <%= yield %>
    </div>
  </body>
</html>
