<!DOCTYPE html>
<html>
  <head>
    <title>Redeemy - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render "shared/provider_nav" %>
    <div id="wrapper">
      <%= render "shared/provider_sidebar" %>
      <div id="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
